<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <title>About</title>
</head>

<body>
    <nav>
        <ul>
            <li> <a href="/home"> Home </a> </li>
            <li> <a href="/works">Works</a> </li>
            <li> <a href="/gallery">Gallery</a> </li>
        </ul>

    </nav>
    <section>
        <h1> About Daniel Woods </h1>
        <img src="imagenes/DanielAbout.jpeg" atl="Daniel Climbing" />


        <article>

            <p> In 2003, Woods climbed his first bouldering problem rated 8A (V11), Fuck You Finger. The following year,
                at
                the age of 15, he made the first ascent of Echale, grading it 8B+ (V14). He won the American Bouldering
                Series national championship in 2005, 2006, 2007, 2009, 2010, 2012 and 2013[4] and the Teva Mountain
                Games
                in the bouldering category in 2006, 2007 and, 2010.

                On June 19, 2007, while traveling in the Chaos Canyon area of Rocky Mountain National Park, Woods made
                the
                first ascent of Jade, formerly named The Green 45 Project, a project he had worked for several years
                with
                Dave Graham.[5] He graded it 8C (V15), making it his hardest ascent at that point. The consensus for the
                rating of Jade is now 8B+ (V14).

                In early 2008, at the age of 18, Woods moved to Innsbruck, Austria, and spent part of his time training
                with
                Kilian Fischhuber and David Lama. In May 2008, he made the first ascent of In Search of Time Lost at
                Magic
                Wood in Switzerland and graded it 8C (V15).[6]

                In November 2011, Woods began filming a climbing movie called Welcome to the Hood with Paul Robinson,
                Guntram Jörg, and Anthony Gullsten. The filming lasted five months, during which the group climbed at
                some
                of the most famous and difficult bouldering sites in the world. The first part of the film was set in
                Magic
                Wood, Switzerland, where Woods climbed Somewhere in Between 8B+ (V14).[7]</p>


        </article>


</body>

</html>