<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">


    <title>Daniel Woods Home</title>
</head>

<body>
    <nav>
        <ul>
            <li> <a href="/about"> About </a> </li>
            <li> <a href="/works">Works</a> </li>
            <li> <a href="/gallery">Gallery</a> </li>
        </ul>

    </nav>
    <section>
        <h1> Daniel Woods </h1>
        <img id="imgDWoods" src="imagenes/DanielWoods.jpg" alt="Daniel Woods" />

        <article>
            <p> Daniel Woods, nacido el 1 de agosto de 1989 en Richardson (Texas), es un escalador profesional
                estadounidense que se especializa en el búlder. Él también ha creado muchos problemas de búlder en áreas
                como la Magic Wood en Suiza, Rocklands en Sudáfrica, y en el Parque nacional de las Montañas Rocosas en
                los
                Estados Unidos.

                A pesar de su corta edad, ya ha subido más de un veinte problemas de boulder graduadas 8C (V15). También
                ganó muchas competiciones como el Campeonato Nacional de Estados Unidos Bouldering (Serie Bouldering
                americano), y los Juegos de la montaña de Teva.

                Se le dice que es uno de los mejores escaladores del mundo.</p>

        </article>


    </section>

</body>

</html>