<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">


    <title>Works</title>
</head>

<body>
    <nav>
        <ul>
            <li> <a href="/home">Home</a> </li>
            <li> <a href="/about"> About </a> </li>
            <li> <a href="/gallery">Gallery</a> </li>
        </ul>

    </nav>
    <section>
        <h1> Los Mejores Ascensos </h1>
        <div>

            <img src="imagenes/DanielWorks.jpg" />

            <img src="imagenes/7.jpg" />

        </div>


        <ul>


            <li><em>Direct Hit</em> (V15), Ubatuba, Brazil (2019)</li>
            <li><em>Off the Wagon Sit</em> (V16), Bavona, Switzerland (2020)</li>
            <li><em>Primitivo </em>(V15), Bavona, Switzerland (2020)</li>
            <li><em>4-Low </em>(V15), Ticino, Switzerland (2020)</li>
            <li><em>Deathstar </em>(V15), Eldora Mountain, Colorado (2020)</li>
            <li><em>Traffic </em>(V15), Coal Creek, Colorado (2020)</li>
            <li><em>Blade Runner </em>(V15), Rocky Mountain National Park, Colorado (2020)</li>
            <li><em>Dicktopia </em>(V15), Camp Dick, Colorado (2020)</li>
            <li><em>Return of the Sleepwalker </em>(V17), Black Velvet Canyon, Nevada (2021)</li>
            <li><em>Pegasus</em> (V15), Joe’s Valley, Utah (2021)</li>
            <li><em>Grand Illusion </em>(V16), Little Cottonwood Canyon, Utah (2021)</li>
        </ul>
</body>

</html>